<settings>
	<global>
		<debug>true</debug>
		<notify_xbmc>0</notify_xbmc>
		<xbmc>
			<ip>192.168.0.50</ip>
		</xbmc>
	</global>
	<Anime>
		<cat_name>anime</name>
		<location>/media/storage/media/Anime</location>
		<remove>*.nfo|*.sfv</filter>
		<anidb_mylist>1</anidb_mylist>
		<anidb_rename>1</anidb_rename>
		<anidb>
			<user>werner</user>
			<pass>buck</pass>
			<renamestring>default</renamestring>
		</anidb>
		<crc_check>1</crc_check>
	</Anime>
	<Tv>
		<cat_name>tv</name>
		<location>/media/storage/media/Tv</location>
		<remove>*.nfo|*.sfv</remove>
		<sabnzbd_enabled_sorting>0</sabnzbd_enabled_sorting>
		<enable_own_sorting>1</enable_own_sorting>
		<sorting>
			<sorting_parser>%show/Season %season_nr/%original_filename</sorting_parser>
		</sorting>
	</Tv>
	<Email>
		<to>shady@shadylog.com</to>
		<from></from>
	</Email>
</settings>
